<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.boot.frame.portal.mapper.sys.SysParamMapper">
    <resultMap id="BaseResultMap" type="com.frame.boot.frame.portal.entity.sys.SysParam">
        <id column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="optimistic" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="key" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        `id`, `optimistic`, `name`, `key`
    </sql>
    <select id="selectByPK" parameterType="java.lang.Integer"
            resultType="com.frame.boot.frame.portal.entity.sys.SysParam">
        select
        <include refid="Base_Column_List"/>
        from sys_param
        where `id` = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="com.frame.boot.frame.portal.entity.sys.SysParam">
        select
        <include refid="Base_Column_List"/>
        from sys_param t
    </select>
    <delete id="deleteByPK" parameterType="java.lang.Integer">
        delete from sys_param
        where `id` = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.frame.boot.frame.portal.entity.sys.SysParam">
        insert into sys_param (`id`, `optimistic`, `name`, `key`)
        values (#{id,jdbcType=INTEGER}, #{optimistic,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{key,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.frame.boot.frame.portal.entity.sys.SysParam">
        insert into sys_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="optimistic != null">
                `optimistic`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="key != null">
                `key`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="optimistic != null">
                #{optimistic,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPKSelective" parameterType="com.frame.boot.frame.portal.entity.sys.SysParam">
        update sys_param
        <set>
            <if test="optimistic != null">
                `optimistic` = #{optimistic,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                `key` = #{key,jdbcType=VARCHAR},
            </if>
        </set>
        where `id` = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPK" parameterType="com.frame.boot.frame.portal.entity.sys.SysParam">
        update sys_param
        set `optimistic` = #{optimistic,jdbcType=INTEGER},
        `name` = #{name,jdbcType=VARCHAR},
        `key` = #{key,jdbcType=VARCHAR}
        where `id` = #{id,jdbcType=INTEGER}
    </update>
</mapper>