<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<div class="header"></div>
<form id="loginForm" class="form form-horizontal" th:action="@{/sys/login}" method="post">
    <div class="row cl">
        <input name="username" type="text" placeholder="账户" class="input-text size-L"/>
    </div>
    <div class="row cl">
        <input name="password" type="password" placeholder="密码" class="input-text size-L"/>
    </div>
    <div class="row cl">
        <input name="validCode" class="input-text size-L" type="text" placeholder="验证码" style="width:150px;"/>
        <img id="validCode" th:src="@{/validCode/login}" alt="验证码" />
    </div>
    <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
            <input type="submit" class="btn btn-success radius size-L"
                   value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;"/>
            <input type="reset" class="btn btn-default radius size-L"
                   value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;"/>
        </div>
    </div>
</form>
</body>
</html>