<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理首页</title>

    <link th:href="@{/static/lib/iconfont/iconfont.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/common/css/H-ui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/admin/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/admin/skin/default/skin.css}" rel="stylesheet" type="text/css" id="skin" />
    <link th:href="@{/static/lib/ui/admin/css/H-ui.login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="header"></div>
<div class="loginWraper">
    <div class="loginBox">
        <form id="loginForm" class="form form-horizontal" th:action="@{/sys/login}" method="post">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input name="username" type="text" placeholder="账户" class="input-text size-L"/>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input name="password" type="password" placeholder="密码" class="input-text size-L"/>
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="yzm" class="input-text size-L" type="text" placeholder="验证码" style="width:150px;"/>
                    <img id="yzm" th:src="@{/images/yzm}"/> <a id="kanbuq" href="javascript:$('#yzm').attr('src', $('#yzm').attr('src'))">换一张</a>
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value=""/>
                        使我保持登录状态
                    </label>
                </div>
            </div>
            <div class="row cl">
                <label class="formControls col-xs-8 col-xs-offset-3" th:if="${param.error} and ${session.SPRING_SECURITY_LAST_EXCEPTION}" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                    用户名或密码错误
                </label>
                <div class="formControls col-xs-8 col-xs-offset-3" th:if="${param.logout}">
                    您已注销成功
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input type="submit" class="btn btn-success radius size-L"
                           value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;"/>
                    <input type="reset" class="btn btn-default radius size-L"
                           value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="footer">Copyright 你的公司名称 by XXX</div>
<script type="text/javascript" th:src="@{/static/lib/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/ui/common/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/ui/admin/js/H-ui.admin.js}"></script>
</body>
</html>