<div th:fragment="meta">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>管理首页</title>

    <link href="/static/lib/iconfont/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="/static/lib/ui/common/css/H-ui.css" rel="stylesheet" type="text/css"/>
    <link href="/static/lib/ui/admin/css/H-ui.admin.css" rel="stylesheet" type="text/css"/>
    <link href="/static/lib/ui/admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="/static/lib/ui/admin/skin/default/skin.css" rel="stylesheet" type="text/css" id="skin" />
</div>