<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>管理首页</title>

    <link th:href="@{/static/lib/iconfont/iconfont.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/common/css/H-ui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/admin/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/lib/ui/admin/skin/default/skin.css}" rel="stylesheet" type="text/css" id="skin" />
    <link th:href="@{/static/lib/ui/admin/css/H-ui.login.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    欢迎！
    <span sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.username"></span> <br />
        <span sec:authentication="principal.authorities"></span> <br />
    </span>
<script type="text/javascript" th:src="@{/static/lib/jquery/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/layer/layer.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/ui/common/js/H-ui.js}"></script>
<script type="text/javascript" th:src="@{/static/lib/ui/admin/js/H-ui.admin.js}"></script>
</body>
</html>