<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.boot.frame.security.mapper.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.frame.boot.frame.security.entity.SysRole">
        <id column="ID" property="id" />
        <result column="OPTIMISTIC" property="optimistic" />
        <result column="TYPE_CODE" property="typeCode" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="ORDERS" property="orders" />
        <result column="STATUS" property="status" />
        <result column="DESCRIPTION" property="description" />
        <result column="CREATE_USER" property="createUser" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_USER" property="updateUser" />
        <result column="UPDATE_TIME" property="updateTime" />
    </resultMap>
    <resultMap id="SecurityResultMap" type="com.frame.boot.frame.security.entity.SysRole" extends="BaseResultMap">
        <collection column="{roleId = id}" property="modules" ofType="com.frame.boot.frame.security.entity.SysModule"
                    select="com.frame.boot.frame.security.mapper.SysModuleMapper.selectSecurityByRole" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, OPTIMISTIC, TYPE_CODE, NAME, CODE, ORDERS, DESCRIPTION, STATUS, CREATE_USER,
        CREATE_TIME, UPDATE_USER, UPDATE_TIME
    </sql>
    <select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_role
        where ID = #{id,jdbcType=BIGINT}
      </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.frame.boot.frame.security.entity.SysRole">
        insert into sys_role (OPTIMISTIC, TYPE_CODE,
          NAME, CODE, ORDERS,
          DESCRIPTION, STATUS, CREATE_USER,
          CREATE_TIME, UPDATE_USER, UPDATE_TIME
          )
        values (#{optimistic,jdbcType=BIGINT}, #{typeCode,jdbcType=VARCHAR},
          #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{orders,jdbcType=INTEGER},
          #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
          )
    </insert>
    <update id="updateSelective" parameterType="com.frame.boot.frame.security.entity.SysRole">
        update sys_role
        <set>
            <if test="optimistic != null">
                OPTIMISTIC = #{optimistic,jdbcType=BIGINT},
            </if>
            <if test="typeCode != null">
                TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="orders != null">
                ORDERS = #{orders,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="update" parameterType="com.frame.boot.frame.security.entity.SysRole">
        update sys_role
        set OPTIMISTIC = #{optimistic,jdbcType=BIGINT},
          TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
          NAME = #{name,jdbcType=VARCHAR},
          CODE = #{code,jdbcType=VARCHAR},
          ORDERS = #{orders,jdbcType=INTEGER},
          DESCRIPTION = #{description,jdbcType=VARCHAR},
          STATUS = #{status,jdbcType=VARCHAR},
          CREATE_USER = #{createUser,jdbcType=VARCHAR},
          CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
          UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
          UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>


    <select id="selectSecurityByUserId" parameterType="java.lang.Long" resultMap="SecurityResultMap">
        select
          sr.*
        from sys_role sr, sys_role_user sru
        where sr.id = sru.role_id
        and sru.user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>