<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frame.boot.frame.security.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.frame.boot.frame.security.entity.SysUser">
        <id column="ID" property="id"/>
        <result column="OPTIMISTIC" property="optimistic"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="REALNAME" property="realname"/>
        <result column="EMAIL" property="email"/>
        <result column="TELEPHONE" property="telephone"/>
        <result column="CELLPHONE" property="cellphone"/>
        <result column="SEX" property="sex"/>
        <result column="AGE" property="age"/>
        <result column="ADDRESS" property="address"/>
        <result column="PHOTO" property="photo"/>
        <result column="USER_STATUS" property="userStatus"/>
        <result column="USER_TYPE_CODE" property="userTypeCode"/>
        <result column="TYPE_CODE" property="typeCode"/>
        <result column="ORDERS" property="orders"/>
        <result column="STATUS" property="status"/>
        <result column="DESCRIPTION" property="description"/>
        <result column="CREATE_USER" property="createUser"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_USER" property="updateUser"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <resultMap id="SecurityResultMap" type="com.frame.boot.frame.security.entity.SysUser" extends="BaseResultMap">
        <collection column="{username = username}" property="roles" ofType="com.frame.boot.frame.security.entity.SysRole"
                    select="com.frame.boot.frame.security.mapper.SysRoleMapper.selectSecurityByUsername" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, OPTIMISTIC, USERNAME, PASSWORD, REALNAME, EMAIL, TELEPHONE, CELLPHONE, SEX, AGE,
        ADDRESS, PHOTO, ORDERS, USER_STATUS,
        USER_TYPE_CODE, DESCRIPTION, TYPE_CODE, STATUS, CREATE_USER, CREATE_TIME, UPDATE_USER,
        UPDATE_TIME
    </sql>
    <select id="selectOne" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="delete" parameterType="java.lang.Long">
        delete from sys_user
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.frame.boot.frame.security.entity.SysUser">
        insert into sys_user (OPTIMISTIC, USERNAME,
          PASSWORD, REALNAME, EMAIL,
          TELEPHONE, CELLPHONE, SEX,
          AGE, ADDRESS, PHOTO,
          ORDERS, USER_STATUS, USER_TYPE_CODE,
          DESCRIPTION, TYPE_CODE, STATUS,
          CREATE_USER, CREATE_TIME, UPDATE_USER,
          UPDATE_TIME)
        values (#{optimistic,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
          #{telephone,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
          #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR},
          #{orders,jdbcType=INTEGER}, #{userStatus,jdbcType=VARCHAR}, #{userTypeCode,jdbcType=VARCHAR},
          #{description,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
          #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
          #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <update id="updateSelective" parameterType="com.frame.boot.frame.security.entity.SysUser">
        update sys_user
        <set>
            <if test="optimistic != null">
                OPTIMISTIC = #{optimistic,jdbcType=BIGINT},
            </if>
            <if test="username != null">
                USERNAME = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realname != null">
                REALNAME = #{realname,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="telephone != null">
                TELEPHONE = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="cellphone != null">
                CELLPHONE = #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                SEX = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="age != null">
                AGE = #{age,jdbcType=INTEGER},
            </if>
            <if test="address != null">
                ADDRESS = #{address,jdbcType=VARCHAR},
            </if>
            <if test="photo != null">
                PHOTO = #{photo,jdbcType=VARCHAR},
            </if>
            <if test="orders != null">
                ORDERS = #{orders,jdbcType=INTEGER},
            </if>
            <if test="userStatus != null">
                USER_STATUS = #{userStatus,jdbcType=VARCHAR},
            </if>
            <if test="userTypeCode != null">
                USER_TYPE_CODE = #{userTypeCode,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null">
                TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                CREATE_USER = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="update" parameterType="com.frame.boot.frame.security.entity.SysUser">
        update sys_user
        set OPTIMISTIC = #{optimistic,jdbcType=BIGINT},
          USERNAME = #{username,jdbcType=VARCHAR},
          PASSWORD = #{password,jdbcType=VARCHAR},
          REALNAME = #{realname,jdbcType=VARCHAR},
          EMAIL = #{email,jdbcType=VARCHAR},
          TELEPHONE = #{telephone,jdbcType=VARCHAR},
          CELLPHONE = #{cellphone,jdbcType=VARCHAR},
          SEX = #{sex,jdbcType=VARCHAR},
          AGE = #{age,jdbcType=INTEGER},
          ADDRESS = #{address,jdbcType=VARCHAR},
          PHOTO = #{photo,jdbcType=VARCHAR},
          ORDERS = #{orders,jdbcType=INTEGER},
          USER_STATUS = #{userStatus,jdbcType=VARCHAR},
          USER_TYPE_CODE = #{userTypeCode,jdbcType=VARCHAR},
          DESCRIPTION = #{description,jdbcType=VARCHAR},
          TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
          STATUS = #{status,jdbcType=VARCHAR},
          CREATE_USER = #{createUser,jdbcType=VARCHAR},
          CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
          UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
          UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        where ID = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where username = #{username,jdbcType=BIGINT}
    </select>

    <select id="findSecurityUserByUsername" parameterType="java.lang.String" resultMap="SecurityResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where username = #{username,jdbcType=BIGINT}
    </select>
</mapper>