<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/sys/fragments/common :: meta" />
    <div th:replace="/sys/fragments/common :: common-css" />
    <div th:replace="/sys/fragments/common :: list-css" />
</head>

<body>
    <div id="toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <label>标识：</label>
                <input name="code" type="text" class="search form-control" placeholder="输入标识" />
            </div>
            <div class="form-group">
                <label>名称：</label>
                <input name="name" type="text" class="search form-control" placeholder="输入名称" />
            </div>
            <input id="search" type="button" class="btn btn-primary" value="搜索" />
            <input id="reset" type="button" class="btn btn-default reset" value="重置" />
        </div>
    </div>

    <div th:replace="/sys/fragments/page :: listPage"></div>
</body>
    <div th:replace="/sys/fragments/common :: common-js" />
    <div th:replace="/sys/fragments/common :: list-js" />
    <script type="text/javascript" >
        var $table = $("#table");

        $("#search").click(function () {
            $table.bootstrapTable('refresh');
        });

        $table.bootstrapTable({
            url: ctxPath + '/sys/role/listPage',
            clickToSelect: true,
            toolbar: "#toolbar",
            columns: [{
                field: 'checkBox',
                checkbox:true,
                align:"center"
            }, {
                field: 'id',
                title: 'ID',
                visible : false, //隐藏该列
            }, {
                field: 'code',
                title: '标识',
                sortable: true
            }, {
                field: 'name',
                title: '名称',
                sortable: true
            }]
        });
    </script>
</html>