<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="meta">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>管理首页</title>
    </div>

    <div th:remove="tag" th:fragment="common-css">
        <link th:href="@{/static/lib/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    </div>
    <div th:remove="tag" th:fragment="Hui-css">
        <link th:href="@{/static/lib/iconfont/iconfont.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/lib/ui/common/css/H-ui.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/lib/ui/admin/css/H-ui.admin.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/lib/ui/admin/css/style.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/static/lib/ui/admin/skin/default/skin.css}" rel="stylesheet" type="text/css" id="skin" />
    </div>
    <div th:remove="tag" th:fragment="list-css">
        <link th:href="@{/static/lib/bootstrapTable/bootstrap-table.css}" rel="stylesheet" type="text/css"/>
    </div>
</head>
<body>
    <div th:fragment="footer" class="footer">Copyright 你的公司名称 by XXX</div>
</body>

    <div th:remove="tag" th:fragment="common-js">
        <script type="text/javascript" th:inline="javascript">
            var ctxPath = [[${#httpServletRequest.getContextPath()}]];
        </script>
        <script type="text/javascript" th:src="@{/static/lib/jquery/jquery.js}"></script>
        <script type="text/javascript" th:src="@{/static/lib/layer/layer.js}"></script>
        <script type="text/javascript" th:src="@{/static/lib/bootstrap/js/bootstrap.js}"></script>
    </div>
    <div th:remove="tag" th:fragment="Hui-js">
        <script type="text/javascript" th:src="@{/static/lib/ui/common/js/H-ui.js}"></script>
        <script type="text/javascript" th:src="@{/static/lib/ui/admin/js/H-ui.admin.js}"></script>
    </div>
    <div th:remove="tag" th:fragment="list-js">
        <script type="text/javascript" th:src="@{/static/lib/bootstrapTable/bootstrap-table.js}"></script>
        <script type="text/javascript" th:src="@{/static/lib/bootstrapTable/locale/bootstrap-table-zh-CN.js}"></script>
        <script type="text/javascript" th:src="@{/static/lib/ui/admin/js/page.js}"></script>
    </div>

</html>